body {
    background-color: #767375;
}

.fa-ul {
    margin-left: 1.65em;
    list-style-type: none;
}

.text-center p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.menuList {
    margin-top: 165px;
}

#Keith {
    padding-right: 3%;
    width: 23%;
}

.navbar navbar-dark bg-dark {
    background: transparent;
}

nav {
    position: absolute;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: -2px;
    text-align: center;
    margin: 0;
    padding-right: -5px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}