body {
    background-image: url('./imgs/potatobackground.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-container {
    position: relative;
    min-height: 67vh;
}

.menu-header {
    font-family: Dancing Script;
    margin-bottom: 10%;
    margin-top: -11%;
    text-decoration: underline;
}

.item-title {
font-family: Caveat;
font-size: xx-large;
}

.item-description {
font-family: Indie Flower;
font-size: larger;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgb(73, 57, 42);
    opacity: .8;
    z-index: -1;
    top: 0;
    bottom: 0; 
}

.box1 {
    background-color: #000;
    color: #fff;
    opacity: .5;
}

#headerFont {
    font-family: Bradley Hand, cursive;
}

#initial-view {
    margin-top: 2%;
}

.fa-ul {
    margin-left: 1.65em;
    list-style-type: none;
}

.text-center p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.menuList {
    margin-top: 165px;
}

#Keith {
    padding-right: 3%;
    width: 23%;
}

nav {
    position: absolute;
    width: 100%;
    line-height: 60px;
    position: sticky;
    top: 0px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: #382c1f;
    overflow: hidden;
    color: #fff;
    padding: -2px;
    text-align: center;
    margin: 0;
    padding-right: -5px;
    transition: 1s;
    width: 101.79%;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}